.searchGroup {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 24px;
  width: 540px;
  margin-top: 32px;
  height: 48px;
}

.searchGroup input {
  font-family: "Outfit", sans-serif;
  background-color: transparent;
  border: none;
  outline: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-white);
  mix-blend-mode: normal;
  opacity: 0.5;
  width: 100%;
  caret-color: var(--color-red);
  padding: 1px 0 14px 0;
}

.searchGroup input:focus {
  border-bottom: 1px solid var(--color-icon);
}

.searchGroup input:valid {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .searchGroup {
    margin-top: 0;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .searchGroup input {
    font-size: 16px;
    line-height: 20px;
  }

  .searchGroup img {
    width: 24px;
    height: 24px;
  }

  .searchGroup {
    gap: 16px;
  }
}
